[Desktop Entry]
Name=open-flatpak
GenericName=Opener Flatpak Refs
Type=Application
Exec=open-flatpak %u
X-AppImage-Integrate=false
MimeType=x-scheme-handler/flatpak;x-scheme-handler/flatpak+https;